@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------------common css------------------------ */
.body {
  max-width: 1920px;
}
.mid-container {
  max-width: 1170px;
  margin: 0 auto;
}
.text-primary-color {
  color: #047267;
}
.bg-primary-color {
  background: #047267;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
